
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

*,*:before,*:after{
    box-sizing: border-box;
}



/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #545454;


    background-color: #fff
}


a:link, a:visited, a:hover, a:active{
    color: #98C647;
    text-decoration: none;
}



/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/


/*
    conteneur
*/

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

.margin-top{
    margin-top: 30px;
}

.margin-bottom{
    margin-bottom: 30px;
}


/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/

header h1{
    font-family: 'Noticia Text', Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

header h1 a{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

/*
    Navigation principale
*/

nav ul{
    display: flex;

    margin: 0;
    padding: 0;

}

nav li {

    flex-grow: 1;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;

    list-style: none;

    background-color: #fff;

    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;

    transition: background-color 0.4s linear;
}

nav li:hover{
    background-color: #F4F4F4;
}

nav a{
    font-size: 12px;
    font-weight: normal;

    text-transform: uppercase;
}

nav a:link, nav a:visited{
    color: #545454;
}

nav a:hover{
    color: #6D9E11;
}




/*
    Photos
*/

section.photos{
    display: flex;
    align-items: flex-start;

    background-color: #F4F4F4;
}


section.photos img{
    width: 33.33333%;
}




/*
    Infos
*/

section.infos{
    display: flex;
    justify-content: space-between;
}
section.infos div{
    width: 350px;
}

section.infos div h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #6D9E11;
}

section.infos div p{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}


section.infos table{
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: normal;

    list-style: none;
}
section.infos table td{
    padding-right: 5px;
}

section.infos table td:nth-child(1),section.infos table td:nth-child(2){
    font-weight: bold;
}


/*
    Pied de page
*/

footer{
    background-color: #F4F4F4;
}

footer div{
    display: flex;

    justify-content: space-between;
}

footer p{
    font-size: 12px;

    margin: 24px 0 0 0;
}


footer ul.reseaux-sociaux {
    margin: 15px 0;
}

footer ul.reseaux-sociaux{
    display: flex;
    align-items: center;
}

footer ul.reseaux-sociaux li {
    margin: 0 0 0 30px;

    list-style: none;
}

footer ul.reseaux-sociaux li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

    font-size: 18px;

    border: 2px solid #545454;;
    border-radius: 50%;

}

footer ul.reseaux-sociaux li a:hover {
    color: white;
    background: #545454;
}

